{% extends 'base.html' %}

{% load crispy_forms_tags %}

{% block titulo %}Biblioteca{% endblock titulo %}
{% block contenido %}
<button type="button" class="btn btn-secondary btn-lg btn-block"><a style="color:#FFFFFF;" href="{% url 'prestamo_materiales:listado_pedidos' %}">Ver Lista de Pedidos</a></button>
<button type="button" class="btn btn-secondary btn-lg btn-block">Ver lista de pedidos sin entregar</button>
<button type="button" class="btn btn-primary btn-lg btn-block">Crear Pedido</button>
{% endblock %}