{% extends 'base.html' %}

{% block titulo %}Biblioteca - Pedidos{% endblock titulo %}

{% block contenido %}
<div class="col mt-2 mb-2">
	<h1>Listado de pedidos</h1>
	<a href="{% url 'prestamo_materiales:pedidos_create' %}" class="btn btn-sm btn-dark mt-2 mb-2">Crear pedido</a>
</div>
	<div class="row">
		<div class="col">
			<table class="table text-center">
				<thead>
					<tr>
						<th>#</th>
						<th>Nombre alumno</th>
						<th>Apellido alumno</th>
						<th>Fecha</th>
						<th>Material</th>
						<th>Estado entregado</th>
						<th>Cantidad materiales</th>
						<th>Estado devuelto</th>
						<th>Editar</th>
					</tr>
				</thead>
				<tbody>
					{% for pedido in pedidos %}
					<tr>
						<th>{{ pedido.id }}</th>
						<th>{{ pedido.nombre_alumno }}</th>
						<td>{{ pedido.apellido_alumno }}</td>
						<td>{{ pedido.fecha }}</td>
						<td>{{ pedido.material }}</td>
						<td>{{ pedido.estado_producto_entregado }}</td>
						<td>{{ pedido.cantidad_materiales }}</td>
						<td>{{ pedido.estado_producto_devuelto }}</td>
						<td><a href="{% url 'prestamo_materiales:pedido_update' pedido.id %}"><i class="fas fa-pencil-alt"></i></a></td>
						
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
{% endblock %}